# Sample .env file for server (DO NOT use this directly)

# Paste your MongoDB Atlas URL here:
MONGO_URI=Add your MongoDB Atlas connection string here
PORT=5000

# 👉 Instructions:
# 1. Duplicate this file and rename it to ".env"
# 2. Paste the real MongoDB URI in the MONGO_URI field
# 3. DO NOT push your real .env file to GitHub – it's already safely ignored (so you can do normally git add . -> commit -> push)
# 4. dlete this comments after setup new .env file